<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>226242745443-n8lqqdt6cnnn31tbrgrn66r9mrfnftpk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.226242745443-n8lqqdt6cnnn31tbrgrn66r9mrfnftpk</string>
	<key>API_KEY</key>
	<string>AIzaSyAXkja_36cO94gUEe_m4P_x-6xuYbSoG2w</string>
	<key>GCM_SENDER_ID</key>
	<string>226242745443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kimwyyf.wChat</string>
	<key>PROJECT_ID</key>
	<string>wchat-bc555</string>
	<key>STORAGE_BUCKET</key>
	<string>wchat-bc555.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:226242745443:ios:b7562bc7a5239a7c76d456</string>
	<key>DATABASE_URL</key>
	<string>https://wchat-bc555.firebaseio.com</string>
</dict>
</plist>